<html>
	<head>
		<link rel="shortcut icon" href="icon.png" />
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<a href="main_controller/login" style="margin-left: 90%;margin-top: 1%;" class="btn btn-primary">Admin</a>
		<h1 style="font-family:impact;margin-left:4%;margin-top: 2%;">Suggesting a Suitable Framework to Develop a Web Application</h1>
		<div style="margin-left:10%;">
			<h3>1. What is the programming language you want to code in ?</h3>
			<form action="main_controller/view" id="usrform">
			  <input type="checkbox" name="language[]" value="Ruby"> Ruby<br>
			  <input type="checkbox" name="language[]" value="Python"> Python<br>
			  <input type="checkbox" name="language[]" value="Java"> Java <br>
			  <input type="checkbox" name="language[]" value="Javascript"> Javascript<br>
			  <input type="checkbox" name="language[]" value="C#"> C#<br>
			  <input type="checkbox" name="language[]" value="PHP"> PHP<br>
			  <input type="checkbox" name="language[]" value="Other" checked> Any of the above   
				<h3>2. What is the license you want to use for the framework ?</h3>
				<input type="checkbox" name="license[]" value="MIT"> MIT<br>
				<input type="checkbox" name="license[]" value="Apache 2.0"> Apache 2.0<br>
				<input type="checkbox" name="license[]" value="BSD License"> BSD License<br>
				<input type="checkbox" name="license[]" value="New BSD"> New BSD<br>
				<input type="checkbox" name="license[]" value="LGPL"> LGPL<br>
				<input type="checkbox" name="license[]" value="3-Clause BSD"> 3-Clause BSD<br>
				<input type="checkbox" name="license[]" value="Other" checked> Any of the above
				<h3>3. Which hosting server do you want to host your website on ?</h3>
			  <select name="hosting">
			  	<option value="Any">Any of the Below</option>
			    <option value="HostGator">HostGator</option>
			    <option value="Linode">Linode</option>
			    <option value="Heroku">Heroku</option>
			    <option value="BlueHosting">BlueHosting</option>
			    <option value="DreamHost">DreamHost</option>
			    <option value="SliceHost">SliceHost</option>
			    <option value="GoDaddy">GoDaddy</option>
			    <option value="RightScale">RightScale</option>
			    <option value="EngineYard">EngineYard</option>
			    <option value="Mor.ph">Mor.ph</option>
			    <option value="Nginx">Nginx</option>
			    <option value="Lighttpd">Lighttpd</option>
			    <option value="Cherokee">Cherokee</option>
			    <option value="Apache">Apache</option>
			    <option value="PythonAnywhere">PythonAnywhere</option>
			    <option value="WebFaction">WebFaction</option>
			    <option value="Cloudways">Cloudways</option>
			    <option value="Digital Ocean">Digital Ocean</option>
			    <option value="Domain Racer">Domain Racer</option>
			    <option value="Inmotion Hosting">Inmotion Hosting</option>
			    <option value="SiteGround">SiteGround</option>
			    <option value="GreenGeeks">GreenGeeks</option>
			    <option value="WebHostFace">WebHostFace</option>
			    <option value="Names.co.uk">Names.co.uk</option>
			    <option value="HostRocket">HostRocket</option>
			    <option value="OpenShift">OpenShift</option>
			    <option value="Google App Engine">Google App Engine</option>
			    <option value="Heliohost">Heliohost</option>
			    <option value="SparkHost">SparkHost</option>
			    <option value="AWS Elastic Beanstalk">AWS Elastic Beanstalk</option>
			    <option value="Azure (IIS)">Azure(IIS)</option>
			    <option value="AWS Ops">AWS Ops</option>
			    <option value="Cloud 66">Cloud 66</option>
			    <option value="Ninefold">Ninefold</option>
			    <option value="InterServer">InterServer</option>
			    <option value="LiquidWeb">LiquidWeb</option>
			    <option value="PeoplesHost">PeoplesHost</option>
			    <option value="DCHQ.io">DCHQ.io</option>
			    <option value="Firebase">Firebase</option>
			    <option value="Squidix">Squidix</option>
			    <option value="Google Drive">Google Drive</option>
			    <option value="GlowHost">GlowHost</option>
			    <option value="MediaTemple">MediaTemple</option>
			    <option value="Eleven2">Eleven2</option>
			    <option value="Beyond Hosting">Beyond Hosting</option>
			    <option value="Negox">Negox</option>	
			    <option value="RedHat OpenShift">RedHat OpenShift</option>	
			    <option value="Nodejitsu">Nodejitsu</option>
			    <option value="Microsoft Azure">Microsoft Azure</option>
			    <option value="Modulus">Modulus</option>
			    <option value="Somee">Somee</option>
			    <option value="Cloudbees">Cloudbees</option>
			    <option value="AWS Elastic Beanstalk">AWS ELastic Beanstalk</option>
			    <option value="A2Hosting">A2Hosting</option>
			    <option value="Hostt">Hostt</option>
			    <option value="HostFace">HostFace</option>
			    <option value="Meteor Application Platform for Developers">Meteor Application Platform for Developers</option>
			    <option value="Fortrabit">Fortrabit</option>
			    <option value="FastComet">FastComet</option>
			    <option value="Other">Other</option>

			  </select>
			
				<h3>4. In what time do you hope to finish learning the fundamentals of the framework ? </h3>
			
			  <input type="radio" name="time" value="<30", checked> Less than 30 days<br>
			  <input type="radio" name="time" value="30-60"> 30-60 days<br>
			  <input type="radio" name="time" value=">60"> Greater than 60 days<br>
			 
			 	<h3>5. What is the database you want to use for your application ?</h3>
			 
				<input type="checkbox" name="database[]" value="MySQL">MySQL <br>
				<input type="checkbox" name="database[]" value="SQLite">SQLite <br>
				<input type="checkbox" name="database[]" value="PostgreSQL">PostgreSQL <br>
				<input type="checkbox" name="database[]" value="MongoDB">MongoDB <br>
				<input type="checkbox" name="database[]" value="MSSQL">MSSQL <br>
				<input type="checkbox" name="database[]" value="Oracle">Oracle <br>
				<input type="checkbox" name="database[]" value="Drizzle">Drizzle <br>
				<input type="checkbox" name="database[]" value="Redis">Redis <br>
				<input type="checkbox" name="database[]" value="Cassandra">Cassandra <br>
				<input type="checkbox" name="database[]" value="IBM DB2"> IBM DB2<br>
				<input type="checkbox" name="database[]" value="CouchDB">CouchDB <br>
				<input type="checkbox" name="database[]" value="Apache MariaDB">Apache MariaDB <br>
				<input type="checkbox" name="database[]" value="MemCacheDB">MemCacheDB <br>
				<input type="checkbox" name="database[]" value="NoSQL">NoSQL <br>
				<input type="checkbox" name="database[]" value="MSSQL Server Express Edition">MSSQL Server Express Edition <br>
				<input type="checkbox" name="database[]" value="Neo4J">Neo4J <br>
				<input type="checkbox" name="database[]" value="Firebird"> Firebird<br>
				<input type="checkbox" name="database[]" value="InterBase">InterBase <br>
				<input type="checkbox" name="database[]" value="BigTable">BigTable <br>
				<input type="checkbox" name="database[]" value="Microsoft SQL Server 2008">Microsoft SQL Server 2008 <br>
				<input type="checkbox" name="database[]" value="Microsoft SQL Server 2005">Microsoft SQL Server 2005 <br>
				<input type="checkbox" name="database[]" value="DBeaver">DBeaver <br>
				<input type="checkbox" name="database[]" value="JPA"> JPA<br>
				<input type="checkbox" name="database[]" value="JDO"> JDO<br>
				<input type="checkbox" name="database[]" value="Hibernate iBATIS">Hibernate iBATIS <br>
				<input type="checkbox" name="database[]" value="Spring JDBC Support">Spring JDBC Support <br>
				<input type="checkbox" name="database[]" value="NoSQL Solution">NoSQL Solution <br>
				<input type="checkbox" name="database[]" value="Redis">Redis <br>
				<input type="checkbox" name="database[]" value="H Base"> H Base<br>
				<input type="checkbox" name="database[]" value="SqlAlchemy">SqlAlchemy <br>
				<input type="checkbox" name="database[]" value="FireBase">FireBase <br>
				<input type="checkbox" name="database[]" value="AeroSpike">AeroSpike <br>
				<input type="checkbox" name="database[]" value="JSON">JSON <br>
				<input type="checkbox" name="database[]" value="MariaDB">MariaDB <br>
				<input type="checkbox" name="database[]" value="LINQ to SQL">LINQ to SQL <br>
				<input type="checkbox" name="database[]" value="ADO.NET Entity Framework">ADO.NET Entity Framework <br>
				<input type="checkbox" name="database[]" value="CouchBase">ouchBase <br>
				<input type="checkbox" name="database[]" value="LevelDB">LevelDB <br>
				<input type="checkbox" name="database[]" value="Elastic Search">Elastic Search <br>
				<input type="checkbox" name="database[]" value="Sybase">Sybase <br>
				<input type="checkbox" name="database[]" value="SQLAnywhere">SQLAnywhere <br>
				<input type="checkbox" name="database[]" value="Any" checked> Any of the above
			
				<h3> 6. What Design patterns do you want to use in your application ?</h3>
			
				<input type="checkbox" name="patterns[]" value="MVC">MVC<br>
				<input type="checkbox" name="patterns[]" value="MVVC">MVVC<br>
				<input type="checkbox" name="patterns[]" value="MVT">MVT<br>
				<input type="checkbox" name="patterns[]" value="MVVC">MVVM<br>
				<input type="checkbox" name="patterns[]" value="ServiceObjects">ServiceObjects<br>
				<input type="checkbox" name="patterns[]" value= "Value Objects"> Value Objects<br>
				<input type="checkbox" name="patterns[]" value="Form Objects">Form Objects<br>
				<input type="checkbox" name="patterns[]" value="Query Objects">Query Objects <br>
				<input type="checkbox" name="patterns[]" value="View Objects">View Objects<br>
				<input type="checkbox" name="patterns[]" value="Policy Objects">Policy Objects <br>
				<input type="checkbox" name="patterns[]" value="Decorators">Decorators<br>
				<input type="checkbox" name="patterns[]" value="Template Method">Template Method<br>
				<input type="checkbox" name="patterns[]" value="Strategy">Strategy<br>
				<input type="checkbox" name="patterns[]" value="Observer">Observer<br>
				<input type="checkbox" name="patterns[]" value="Composite">Composite<br>
				<input type="checkbox" name="patterns[]" value="Iterator">Iterator<br>
				<input type="checkbox" name="patterns[]" value="Commands">Commands<br>
				<input type="checkbox" name="patterns[]" value="Mediator">Mediator <br>
				<input type="checkbox" name="patterns[]" value="Adapter">Adapter<br>
				<input type="checkbox" name="patterns[]" value="Proxy">Proxy <br>	
				<input type="checkbox" name="patterns[]" value="Singleton">Singleton<br>
				<input type="checkbox" name="patterns[]" value="Factory">Factory<br>
				<input type="checkbox" name="patterns[]" value="Abstract Factory">Abstract Factory<br>
				<input type="checkbox" name="patterns[]" value="Builder">Builder<br>
				<input type="checkbox" name="patterns[]" value="Interpreter">Interpreter<br>
				<input type="checkbox" name="patterns[]" value="SQL efficiency">SQL efficiency<br>
				<input type="checkbox" name="patterns[]" value="Definitive URLs,">Definitive URLs, <br>
				<input type="checkbox" name="patterns[]" value="Multiton">Multiton<br>
				<input type="checkbox" name="patterns[]" value="Pool">Pool<br>
				<input type="checkbox" name="patterns[]" value="Prototype">Prototype<br>
				<input type="checkbox" name="patterns[]" value="SimpleFactory">SimpleFactory<br>
				<input type="checkbox" name="patterns[]" value="StaticFactory">StaticFactory<br>
				<input type="checkbox" name="patterns[]" value="Bridge">Bridge<br>
				<input type="checkbox" name="patterns[]" value="DataMapper">DataMapper<br>
				<input type="checkbox" name="patterns[]" value="DependencyInjection">DependencyInjection<br>
				<input type="checkbox" name="patterns[]" value="Facade">Facade<br>
				<input type="checkbox" name="patterns[]" value="Flyweight">Flyweight<br>
				<input type="checkbox" name="patterns[]" value="Registry">Registry<br>
				<input type="checkbox" name="patterns[]" value="ChainOfResponsibilities"> ChainOfResponsibilities<br>
				<input type="checkbox" name="patterns[]" value="Memento ">Memento  <br>
				<input type="checkbox" name="patterns[]" value="NullObject">NullObject<br>
				<input type="checkbox" name="patterns[]" value="Specification">Specification<br>
				<input type="checkbox" name="patterns[]" value="State">State <br>
				<input type="checkbox" name="patterns[]" value="Visitor ">Visitor  <br>
				<input type="checkbox" name="patterns[]" value="Delegation">Delegation<br>
				<input type="checkbox" name="patterns[]" value="ServiceLocator">ServiceLocator<br>
				<input type="checkbox" name="patterns[]" value="EAV">EAV<br>
				<input type="checkbox" name="patterns[]" value="Flies">Flies<br>
				<input type="checkbox" name="patterns[]" value="Front Controller">Front Controller <br>
				<input type="checkbox" name="patterns[]" value="Aspect Oriented Design">Aspect Oriented Design<br>
				<input type="checkbox" name="patterns[]" value="Domain Drive Design">Domain Drive Design<br>
				<input type="checkbox" name="patterns[]" value="Blueprints">Blueprints<br>
				<input type="checkbox" name="patterns[]" value=" Page Controller">Page Controller<br>
				<input type="checkbox" name="patterns[]" value="Module Pattern">Module Pattern<br>
				<input type="checkbox" name="patterns[]" value="Repository">Repository<br>
				<input type="checkbox" name="patterns[]" value="mixin">mixin<br>
				<input type="checkbox" name="patterns[]" value="Middlewares">Middlewares<br>
				<input type="checkbox" name="patterns[]" value="Pipelines">Pipelines<br>
				<input type="checkbox" name="patterns[]" value="Streams">Streams<br>
				<input type="checkbox" name="patterns[]" value="Other", checked>None of the above<br><br>
				<input type="submit" value="Submit" class="btn-lg"><br><br>
			</form>
		</div>
	</body>
</html>