<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="margin-left:20px;">
		<h1>Fill the below form</h1>
		<form action="saved_framework" id="usrform">
	  	Framework Name: <input style="margin-left:10%;" type="text" name="framework" class="form-control"><br>
	  	Language: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input style="margin-left:10%;" type="text" name="language" class="form-control"><br>
	  	Community Size:  <input style="margin-left:10%;" type="text" name="community_size" class="form-control"><br>
	  	License: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="margin-left:10%;" type="text" name="license" class="form-control"><br>
	  	Hosting Servers: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea style="margin-left:10%;" rows="8" cols="100" name="hosting" form="usrform" class="form-control">
			</textarea><br>
			Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="margin-left:10%;" type="text" name="time" class="form-control"><br>
			RPS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="margin-left:10%;" type="text" name="rps" class="form-control"><br>
			Databases Supported: <textarea style="margin-left:10%;" rows="8" cols="100" name="databases" form="usrform" class="form-control">
			</textarea><br>
			Design Patterns: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea style="margin-left:10%;" rows="8" cols="100" name="patterns" form="usrform" class="form-control">
			</textarea><br><br><br>
	  	<input type="submit" class="btn" style ="margin-left:10px;">
		</form>
		<br>
	</div>
</body>
</html>